.root {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
}

.label {
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #7293A0; /* Color de fondo del botón */
    -fx-text-fill: white; /* Color de la fuente */
    -fx-padding: 10 20 10 20; /* Espaciado interno del botón */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-background-radius: 5px; /* Bordes redondeados del fondo */
    -fx-cursor: hand; /* Cambiar el cursor a mano al pasar sobre el botón */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0.5, 0, 1); /* Sombra del botón */
    -fx-transition: all 0.3s ease; /* Animación de transición */
}

.button:hover {
    -fx-background-color: #1EB98E; /* Color de fondo al pasar el mouse */
    -fx-text-fill: white; /* Asegurar que el color de la fuente siga contrastando */
    -fx-scale-x: 1.05; /* Escalar el botón ligeramente en el eje X */
    -fx-scale-y: 1.05; /* Escalar el botón ligeramente en el eje Y */
}

.radio-button {
    -fx-padding: 5px 10px;
}
.question-box {
    -fx-border-color: gray;
    -fx-border-width: 1;
    -fx-padding: 10;
    -fx-margin: 10;
}

.question-text {
    -fx-font-weight: bold;
}

.correct-answer {
    -fx-text-fill: green;
}

.incorrect-answer {
    -fx-text-fill: red;
}
